<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nb-card size="medium">
        <nb-card-header>Movements</nb-card-header>
        <nb-card-body>
          <table class="table">
            <thead>
            <tr>
              <th></th>
              <th>Category</th>
              <th>Description</th>
              <th class="text-center">Date</th>
              <th class="text-right">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactions">
              <td class="{{transaction.type}}-indicator"></td>
              <td>{{transaction.category}}</td>
              <td>{{transaction.description}}</td>
              <td class="text-center">{{transaction.date| date:'dd/MM/yyyy'}}</td>
              <td class="{{transaction.type}} text-right">{{transaction.amount}}</td>
            </tr>
            </tbody>
          </table>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col">
      <nb-card size="small">
        <nb-card-header>Add</nb-card-header>
        <nb-card-body><app-add></app-add></nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nb-card >
        <nb-card-header>Add</nb-card-header>
      </nb-card>
    </div>
    <div class="col">
      <nb-card >
        <nb-card-header>Add</nb-card-header>
      </nb-card>
    </div>
    <div class="col">
      <nb-card >
        <nb-card-header>Add</nb-card-header>
      </nb-card>
    </div>
  </div>
</div>


