.amount-field{
  text-align: right;
}

.expense{
  color: crimson;
}

.income{
  color: #0BCA8A;
}

.expense-indicator{
  border-left: 6px solid crimson;

}

.income-indicator{
  border-left: 6px solid #00d68f;
}

