<form (ngSubmit)="onSubmit()">
  <div class="container-fluid container-card">
    <div class="row">
      <div class="col">
        <div class="form-control-group">
          <label class="label">Type:</label>
          <nb-select placeholder="Type" size="small" name="type" [(ngModel)]="model.type" (selectedChange)="changed()" >
            <nb-option value="expense">Expense</nb-option>
            <nb-option value="income">Income</nb-option>
          </nb-select>
        </div>
        <div class="form-control-group">
          <label class="label">Category:</label>
          <nb-select placeholder="Category" size="small" name="category" [(ngModel)]="model.category" >
            <nb-option value="hola">Hola</nb-option>
            <nb-option value="adios">Adios</nb-option>
          </nb-select>
        </div>
        <div class="form-control-group">
          <label class="label">Date:</label>
          <input nbInput placeholder="Date" name="date" fieldSize="small" type="date" [(ngModel)]="model.date" >
<!--          <nb-datepicker #ngmodel></nb-datepicker>-->
        </div>
      </div>
      <div class="col">
        <div class="form-control-group">
          <label class="label">Amount:</label>
          <input fieldSize="small" name="amount" nbInput placeholder="Amount"
                 type="number" [(ngModel)]="model.amount">
        </div>
        <div class="form-control-group">
          <label class="label">Detail:</label>
          <input fieldSize="small" name="description" nbInput
                 placeholder="Detail" type="text" [(ngModel)]="model.description">
        </div>
        <div class="form-control-group">
          <button nbButton
                  size="small"
                  status="primary">
            ADD
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">

      </div>
    </div>
  </div>
</form>

